*{
    margin: 0;
}
.box1{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
}
.box1 h6{
    color: rgba(2, 48, 71, 1);
    font-size: 28px;
}
.text1{
    display: flex;
    gap: 24px;
    color: rgba(2, 48, 71, 0.7);
    font-size: 18px;
}
.text01{
  
  display: flex;
  flex-direction: column;
 align-items: end;
  
}
.p1{
    color: rgba(2, 48, 71, 0.7);
    font-size: 13px;
}
.p2{
    color: rgba(2, 48, 71, 1);
    font-size: 18px;
    font-weight: bolder;
}
.box2{
    width: 100%;
    height:798px;

    background-image: url(./1.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;

}
.arrow{
    width: 80px;
    height: 80px;
   position: relative;
   top: 150px;
}
.text2{
    display: flex;
    flex-direction: column;
align-items: center;
gap: 20px;
text-align: center;
}
.text2 h1{
    color: white;
    font-size: 64px;
}
.text2 p{
    color: white;
    font-size: 24px;
    width: 900px;
}
.buttons{
    display: flex;
    gap: 15px;
}
.or{
    width: 150px;
    height: 40px;
    background-color: rgba(251, 133, 0, 1);
    border: none;
    border-radius: 6px;
    color: white;
}
.wh{
    width: 160px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 6px;
    color: rgba(251, 133, 0, 1);
}
.box2 span{
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}
.box3{
    width: 100%;
    height: auto;
    background-color: rgba(247, 248, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 80px;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
}
.text3 span{
    color: rgba(33, 158, 188, 1);
    font-size: 28px;
}
.text3 h1{
    color:rgba(0, 0, 0, 1) ;
    font-size: 64px;
}
.text3 p{
    width: 600px;
    color: black;
    font-size: 24px;
}
.text3{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.box3 button{
    width:80px ;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}
.box03{
   
    display: grid;
    grid-template-columns: repeat(3,255px);
    grid-template-rows: 320px;
    gap: 10px;
}
.o1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.o2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.o3{
    grid-row: 1/2;
    grid-column: 3/4;
}
.b1{
display: flex;
flex-direction: column;
gap: 15px;
align-items: center;

}
.b1 h6{
    width: 260px;
    font-size: 28px;
    font-weight: lighter;
    color: rgba(2, 48, 71, 1);
        text-align: center;
}
.b1 p{
    width: 260px;
    font-size: 18px;
      text-align: center;
    color: rgba(2, 48, 71, 0.4);
}
.box4{
    
    width: 100%;
    height:798px;

    background-image: url(./01.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;
}
.text4{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.text4 span{
    font-size: 18px;
    color: rgba(33, 158, 188, 1);
}
.text4 h4{
    color:white;
    font-size: 48px;
    width: 600px;
}
.text4 p{
    width:600px ;
    color: white;
    font-size: 18px;

}
.text4 button{
    background-color:rgba(251, 133, 0, 1) ;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: white;
}
.box5{
    width: 100%;
    height: auto;
display: flex;
flex-direction: column;
gap: 80px;
padding-top: 120px;
padding-bottom: 120px;
box-sizing: border-box;

}

.text5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.text5 h1{
    font-size: 64px;
    color: rgba(2, 48, 71, 1);
}
.text5 p{
    text-align: center;
    width: 650px;
    color: rgba(2, 48, 71, 0.7);
    font-size: 24px;
}
.box05{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.box6{
    
    width: 100%;
    height:1340px;

    background-image: url(./3.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;

}
.cover{
     width: 100%;
    height:1340px;
    background-color:rgba(0, 0, 0, 0.4) ;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
}
.text6{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    align-items: center;

}
.text6 span{
    font-size: 28px;
    color: rgba(33, 158, 188, 1);
}
.text6 h1{
    
    width: 650px;
    font-size: 64px;
    color: white;
}
.box6 button{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}
.b6{
    display: flex;
    flex-direction: column;
    gap: 20px;
   text-align: center;
   align-items: center;
}
.b6 h6{
    color: white;
    width: 300px;
    font-size: 28px;
    font-weight: 500;
}
.b6 p{

    color:rgba(255, 255, 255, 0.7) ;
    font-size: 18px;
    width: 300px;
}
.box06{

    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-template-rows: repeat(2,320px);
    gap: 30px;
}
.g1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.g2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.g3{
    grid-row: 1/2;
    grid-column: 3/4;
}
.g4{
    grid-row: 2/3;
    grid-column: 1/2;
}
.g5{
    grid-row: 2/3;
    grid-column: 2/3;
}
.g6{
    grid-row: 2/3;
    grid-column: 3/4;
}
.box7{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.text7 span{
    color: rgba(2, 48, 71, 1);
    font-size: 28px;
}
.text7 h1{
    color: rgba(2, 48, 71, 1);
    font-size: 64px;
    font-weight: 700;
}
.text7 p{
    width: 670px;
    color: rgba(2, 48, 71, 0.8);
    font-size: 24px;

}
.text7{
    display: flex;
    flex-direction: column;
    gap:24px ;
    align-items: center;
    text-align: center;
}
.box07{
    display: grid;
    grid-template-rows:380px 380px ;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.d1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.d2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.d3{
    grid-row: 1/2;
    grid-column: 3/4;
}
.d4{
    grid-row: 2/3;
    grid-column: 1/2;
}
.d5{
    grid-row: 2/3;
    grid-column: 2/3;
}
.d6{
    grid-row: 2/3;
    grid-column: 3/4;
}
.box8{
    
    width: 100%;
    height:618px;

    background-image: url(./001.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;

}
.text08{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text08 h1{
font-size: 64px;
color: white;
}
.text08 p{
    text-align: center;
    color: rgba(255, 255, 255, 0.435);
    font-size: 24px;
}
.boxes8{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 160px;
}





















@media (max-width:500px){
    .text1{
        display: none;
    }
    .box1{
        width: 100%;
        justify-content: space-evenly;
       gap: 130px;
    }
    .box2{
background-position: center;
background-size: 200% 200%;
width: 100%;
height: 598px;
    }
    .text2 h1{
        width: 300px;
        font-size:52px ;
    }
      .text2 p{
        width: 300px;
        
    }
    .arrow{
        top: 20px;
    }
    .box03{
     grid-template-columns: 1fr;
    grid-template-rows: repeat(3,320px);   
    }
    .o1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
     .o2{
        grid-row: 2/3;
        grid-column: 1/2;
    }
     .o3{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .text3 h1{
        font-size: 42px;
    }
     .text3 p{
        width: 350px;
    }
      .box4{
background-position: center;
background-size: 250% 100%;
width: 100%;
height: 598px;
    }
    .text4 h4{
        
        width: 300px;
    }
    .text4 p{
        width: 350px;
    }
    .box5 img{
        width: 400px;
    }
    .text5 h1{
        font-size: 40px;

    }
    .text5 p{
        width: 300px;
font-size: 14px;
    }
    .box5{
       
        gap: 20px;
    }
    .box6{
      background-position: center;
background-size: 300% 200%;
width: 100%;
height: 1340px;  
    }
    .box6 h1{
        font-size: 48px;
        width: 300px;
    }
   .cover{
    justify-content: none;
    align-items: none;

   }
   .text6{
    margin-top: 1300px;
   }
    .box06{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,320px);
    gap: 30px;
}
.g1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.g2{
    grid-row: 2/3;
    grid-column: 1/2;
}
.g3{
   display: none;
}
.g4{
    display: none;
}
.g5{
    display: none;
}
.g6{
    display: none;
}
.box07{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: repeat(6,380px);
    gap: 30px;
}
.d1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.d2{
    grid-row: 2/3;
    grid-column: 1/2;
}
.d3{
    grid-row: 3/4;
    grid-column: 1/2;
}
.d4{
    grid-row: 4/5;
    grid-column: 1/2;
}
.d5{
    grid-row: 5/6;
    grid-column: 1/2;
}
.d6{
    grid-row: 6/7;
    grid-column: 1/2;
}
.text7 h1{
    font-size: 50px;
}
.text7 p{
    width: 500px;
}

}